body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.display {
    border: 1px solid black;
    height: 20px;
}

